# Python
__pycache__/
build/
dist/
.vscode/
.github/

docs/

# Environnement virtuel
env/
.env
env.txt
.env.backup

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
staticfiles/
.env.local
.env.*.local

# Fichiers temporaires
*.tmp
temp/
*.bak
