<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tradiaries - dashboard{% endblock %}</title>
    
    <!-- CSS global -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/side-menu.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    {% include 'components/side-menu.html' %}

    {% block content %}
        {% include 'components/listing.html' %}
    {% endblock %}
</body>
</html>